.appriseOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.appriseOuter {
    background: #eee;
    border: 1px solid #fff;
    box-shadow: 0px 3px 7px #333;
    -moz-box-shadow: 0px 3px 7px #333;
    -webkit-box-shadow: 0px 3px 7px #333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    position: absolute;
    z-index: 99999999;
    min-width: 200px;
    min-height: 50px;
    max-width: 75%;
    position: fixed;
    display: none;
}

.appriseInner {
    padding: 20px;
    color: #333;
    text-shadow: 0px 1px 0px #fff;
}

.appriseInner button {
    border: 1px solid #bbb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    background: -moz-linear-gradient(100% 100% 90deg, #eee, #d5d5d5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#d5d5d5));
    background: -webkit-linear-gradient(#eee, #d5d5d5);
    background: -o-linear-gradient(#eee, #d5d5d5);
    color: #232d3d;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 10px;
    margin: 0 3px;
    text-shadow: 0px 1px 0px #fff;
    cursor: pointer;
    box-shadow: 0px 1px 2px #ccc;
    -moz-box-shadow: 0px 1px 2px #ccc;
    -webkit-box-shadow: 0px 1px 2px #ccc;
}

.appriseInner button:hover {
    color: #d85054;
}

.aButtons,
.aInput {
    margin: 20px 10px 0px 10px;
    text-align: center;
}

.aTextbox {
    border: 1px solid #aaa;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;
    box-shadow: 0px 1px 0px #fff;
    -moz-box-shadow: 0px 1px 0px #fff;
    -webkit-box-shadow: 0px 1px 0px #fff;
    width: 180px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
}